{% extends 'base.html' %}
<!DOCTYPE html>
<html>
    {% load static %}
    


<body>
    {% block title %}Nookesh {% endblock %}
    {% block content %}
    <div class="bgContainerblue">
        
        <div clas="container">
            <div class="row">
                <div class="d-flex flex-column justify-content-center bookmarkCard col-5">
                    <h1 class="heading">Bookmark Your Favorite Sites</h1>
                    <div class="innerform">
                        <form method="POST">
                            <div>
                                {{form.as_p}}
                                {% csrf_token %}
                            </div>
                            <div class="text-right">
                                <button type="submit" class="backg btn btn-dark" id="submitBtn">Submit</button>
                            </div>
                        </form>
                    </div>    
            
                </div>
                <div class="ml-auto col-6 savedData ">
                    <h1 class="nameTitle">
                        Saved Bookmarks
                    </h1>
                    {% if data %}
                    <table>
                        <thead >
                            <th>Bookmark Name</th>
                            <th>URL</th>
                        </thead>
                    
                        {% for each in data %}
                            <tr>
                                <td>{{each.site_name}}</td>
                                <td><a href="https://{{each.site_url}}" target="_blank"><button class='btn btn-primary'>Visit Site</button></a></td>
                            </tr>
                        {% endfor %}
                    </table>
                    {%else %}
                        <table>
                            <thead>
                                <th>Bookmark Name</th>
                                <th>URL</th>
                            </thead>
                        </table>
                        <tr>No data available</tr>
                    {% endif %}
                </div>
        </div>
            <div>
                
            </div>
        </div>
    </div>
    {% endblock %}
</body>

</html>